################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################


/.vs/
/Backups/
/KSP-Mouse-Interface/Build/
/KSP-Mouse-Interface/KSP-Mouse-Interface/obj/
*.user
*.suo
